.node-panel {
  padding: 6px 12px;
  position: relative;
  border: 1px solid #dee2e6 !important;
}
.node-panel .node-controls {
  position: absolute;
  top: -17px;
  right: -16px;
  padding: 4px;
  column-gap: 4px !important;
}
.node-panel .node-controls button {
  min-width: 0 !important;
  padding: 0 6px !important;
  height: 24px !important;
}
.node-panel .node-controls button i {
  font-size: 12px;
}
.node-panel.root .node-controls {
  right: 12px;
}
.node-panel .selector-row {
  column-gap: 12px !important;
}