.query-panel .node-list {
  position: relative;
  row-gap: 24px !important;
}
.query-panel .node-list .add-node-button {
  position: absolute;
  bottom: -18px;
  left: 50%;
  margin: 0 auto;
  margin-left: calc(-40px / 2) !important;
  min-width: 0 !important;
  width: 40px !important;
  padding: 0 8px !important;
}
.query-panel .query-controls {
  justify-content: space-between !important;
  margin-top: 12px !important;
}
.query-panel .query-controls .main-controls {
  column-gap: 4px !important;
}